.content {
    padding: 0px;
}

.menu1 {
<<<<<<< HEAD:html5/html/hw5/hw5.css
    height: 120px;
    line-height: 120px;
    background-color: #00CCAA;
=======
    max-width: 600px;
    height: 120px;
    line-height: 120px;
    background-color: #66CCAA;
>>>>>>> origin/master:html5/hw3/hw3.css
    position: relative;
    margin-top: 0px;
}

.ul_3,
.ul_3t {
    list-style-type: none;
    font-size: 35px;
}

.li_3 {
    padding: 35px;
    display: inline;
}

.li_3 a {
    text-decoration: none;
    color: #006666;
}

.item {
    width: 200px;
    height: 240px;
    text-align: center;
    line-height: 80px;
<<<<<<< HEAD:html5/html/hw5/hw5.css
    background-color: #20B2AA;
    position: absolute;
    margin-top: 0px;
    margin-left: 240px;
=======
    background-color: #00CCAA;
    position: absolute;
    top: 270px;
    margin-left: 400px;
>>>>>>> origin/master:html5/hw3/hw3.css
}

.ul_3t li a {
    text-decoration: none;
    color: #006666;
}
