.menu1 {
    max-width: 600px;
    background-color: #6ECBAC;
    position: relative;
    margin-top: 0px;
}

.ul_3,
.ul_3t {
    list-style-type: none;
    font-size: 40px;
}

.li_3 {
    display: inline;
}

.li_3 a {
    padding: 35px;
    text-decoration: none;
}

.item {
    width: 200px;
    background-color: #B6D8CD;
    position: absolute;
    margin-top: 0px;
    margin-left: 400px;
}

.ul_3t li a {
    padding: 45px;
    text-decoration: none;
}
